<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success" (click)="newReceipeSelected()">New Recipe</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <app-receipe-item *ngFor = "let receipe of receipes; let i = index"
                 [element] = "receipe"
                 [id] = "i"></app-receipe-item>
            </div>
        </div>
    </div>    
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>
